:root {
    --card: #f7f7f7;
    --ring: #3f3f46;
    --input: #e0e0e0;
    --muted: #f0f0f0;
    --accent: #e4e4e7;
    --border: #e0e0e0;
    --radius: 0.5rem;
    --chart-1: #3f3f46;
    --chart-2: #52525b;
    --chart-3: #71717a;
    --chart-4: #a1a1aa;
    --chart-5: #27272a;
    --popover: #f8f5f0;
    --primary: #3f3f46 ;
    --sidebar: #f7f7f7;
    --spacing: 0.25rem;
    --font-mono: Source Code Pro, monospace;
    --font-sans: Montserrat, sans-serif;
    --secondary: #f4f4f5;
    --background: #ffffff;
    --font-serif: Montserrat, sans-serif;
    --foreground: #111111;
    --destructive: #c0392b;
    --shadow-blur: 3px;
    --shadow-color: oklch(0 0 0);
    --sidebar-ring: #3f3f46;
    --shadow-spread: 0px;
    --letter-spacing: 0em;
    --shadow-opacity: 0.1;
    --sidebar-accent: #e4e4e7;
    --sidebar-border: #e0e0e0;
    --card-foreground: #111111;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --sidebar-primary: #3f3f46 ;
    --muted-foreground: #686868;
    --accent-foreground: #27272a;
    --popover-foreground: #3e2723;
    --primary-foreground: #ffffff;
    --sidebar-foreground: #111111;
    --secondary-foreground: #3f3f46;
    --destructive-foreground: #ffffff;
    --sidebar-accent-foreground: #27272a;
    --sidebar-primary-foreground: #ffffff;
  }

  .dark {
    --card: #27272a;
    --ring: #b9cf6a;
    --input: #3f3f46;
    --muted: #18181b;
    --accent: #b9cf6a;
    --border: #3f3f46;
    --radius: 0.5rem;
    --chart-1: #a1a1aa;
    --chart-2: #b9cf6a;
    --chart-3: #71717a;
    --chart-4: #52525b;
    --chart-5: #d4d4d8;
    --popover: #27272a;
    --primary: #b9cf6a;
    --sidebar: #18181b;
    --spacing: 0.25rem;
    --font-mono: Source Code Pro, monospace;
    --font-sans: Montserrat, sans-serif;
    --secondary: #3f3f46;
    --background: #0a0a0b;
    --font-serif: Montserrat, sans-serif;
    --foreground: #f0ebe5;
    --destructive: #c62828;
    --shadow-blur: 3px;
    --shadow-color: oklch(0 0 0);
    --sidebar-ring: #b9cf6a;
    --shadow-spread: 0px;
    --letter-spacing: 0em;
    --shadow-opacity: 0.1;
    --sidebar-accent: #b9cf6a;
    --sidebar-border: #3f3f46;
    --card-foreground: #f0ebe5;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --sidebar-primary: #b9cf6a;
    --muted-foreground: #d7cfc4;
    --accent-foreground: #18181b;
    --popover-foreground: #f0ebe5;
    --primary-foreground: #18181b;
    --sidebar-foreground: #f0ebe5;
    --secondary-foreground: #d7d7db;
    --destructive-foreground: #f0ebe5;
    --sidebar-accent-foreground: #18181b;
    --sidebar-primary-foreground: #18181b;
  }
  
  @theme inline {
    --color-card: var(--card);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-muted: var(--muted);
    --color-accent: var(--accent);
    --color-border: var(--border);
    --color-radius: var(--radius);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-popover: var(--popover);
    --color-primary: var(--primary);
    --color-sidebar: var(--sidebar);
    --color-spacing: var(--spacing);
    --color-font-mono: var(--font-mono);
    --color-font-sans: var(--font-sans);
    --color-secondary: var(--secondary);
    --color-background: var(--background);
    --color-font-serif: var(--font-serif);
    --color-foreground: var(--foreground);
    --color-destructive: var(--destructive);
    --color-shadow-blur: var(--shadow-blur);
    --color-shadow-color: var(--shadow-color);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-shadow-spread: var(--shadow-spread);
    --color-letter-spacing: var(--letter-spacing);
    --color-shadow-opacity: var(--shadow-opacity);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-border: var(--sidebar-border);
    --color-card-foreground: var(--card-foreground);
    --color-shadow-offset-x: var(--shadow-offset-x);
    --color-shadow-offset-y: var(--shadow-offset-y);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent-foreground: var(--accent-foreground);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary-foreground: var(--primary-foreground);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  }